<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home / Timesheet Page</title>
</head>
<body>
<h1>Запись учета свободного времени</h1>
<table>
    <thead>
    <tr>
        <td>Идентификатор записи</td>
        <td>Проект</td>
        <td>Минут потрачено</td>
        <td>Дата записи</td>
        <td>Перейти к записи</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="timesheet : ${timesheets}">
        <td><span th:text="${timesheet.id}"></span></td>
        <td><a th:href="@{'/home/timesheets/project/{id}'(id=${timesheet.projectId})}">
            <span th:text="${timesheet.projectName}"></span>
        </a></td>
        <td><span th:text="${timesheet.minutes}"></span></td>
        <td><span th:text="${timesheet.createdAt}"></span></td>
        <td><a th:href="@{'/home/timesheets/{id}'(id=${timesheet.id})}">Перейти к записи</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>